body{background: #eee url(http://subtlepatterns.com/patterns/sativa.png);}
html,body{
    position: relative;
    height: 100%;
}

.login-container{
    position: relative;
    width: 300px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}


.login-container::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;height: 100%;
    top: 3.5px;left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;

}

.login-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
     -moz-transform: rotateZ(-2deg);
      -ms-transform: rotateZ(-2deg);

}

.avatar{
text-align:center;
margin-bottom:30px;
    border-radius: 20%;
    border: 2px solid #aaa;
	margin-top:30px
}

.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;

}

.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}


.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
}
#searchilac{ display:none}
#login{ display:none}
#girisYap{ display:none}
#kayitOl{ display:none}

.ilacc{
	width:100%;padding:5px;border:1px solid rgb(221,221,221);border-radius:5px;background-color:white;color:gray;
	
}
.aranan{
	padding:10px;border:1px solid rgb(221,221,221);background-color:rgb(91,192,222);color:white;margin:0;    text-transform: uppercase;
	
}